<%- include("partials/header.ejs") -%>

<h1>Hello there!</h1>

<p>This is the current board is <%=currentBoard%></p>

<p>Here are all the possible board options</p>
<%currentOptions.forEach(function(element) {%>
    <p><%=element%></p>
<%})%>

<form action="/" method="post">
    <input type="text">
</form>

<%- include("partials/footer.ejs") -%>